*{
    box-sizing: border-box;
    
    margin: 0;

}
.main{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}
.header{
    display: flex;
    flex: 1;
    min-height: 200px;
    background-color: greenyellow;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    flex: 4;
    min-height: 600px;
}
.artikle{
    display: flex;
    flex: 4;
    background-color: red;
    
}
.sideDiv{
    display: flex;
    flex: 1;
    background-color: blue;

}
.aside{
    display: flex;
    flex: 1;
    background-color: chocolate;
}
.footer{
    display: flex;
    flex: 1;
    min-height: 200px;
    background-color: greenyellow;
    flex-direction: column;
}